.company-name{
    color: brown;
    font-family: "Ubantu";
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: underline;
}
.Desp-position{
    color: #1c1c1c;

}
.Position{
    color: #1c1c1c;
}
